.center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.centered-input {
    /*position: fixed;
    top: 60%;
    left: 50%;
    border-radius: 5px;
    transform: translate(-50%, -50%)*/
    width: 600px;
    height: 30px;
    position: fixed;
    top: 58%;
    left: 50%;
    border-radius: 5px;
    transform: translate(-50%, -50%)
}

/*Trying to insert search bar image */
input[type="google"] {
    background-color: white;
    background-image: url(/images/ic_search_icon);
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
    font-family: sans-serif;
    font-size: 16px;
}

